html {

	background-color:snow; 
	min-height:90vh;
}

@media screen and (min-width: 600px) {
	html {
		margin-top:1em;
		margin-bottom:1em;
		margin-left:25%;
		padding:1em;
		width:50%;
		border:1px solid black;
		box-shadow: 0 0 0px #000000, 0 0 15px rgba(0,0,0,0.6);
	}
}

img {
		max-width:100%;
		/*
		border:1px solid black;
		box-shadow: 0 0 0px #000000, 0 0 15px rgba(0,0,0,0.6);
		*/
}